<% provide(:title,'Plan Your Task | Home') %>
<div class="myhome mycont mycontainer container">
<div class="myrow">
	<!--div class="row"-- >
		<!--div class="span2 offset2"-->
		<!--div class="col-xs-10 col-xs-offset-2 col-sm-offset-2 col-sm-6 col-md-offset-2 col-md-2 col-lg-offset-2 col-lg-2 mylogo"-->
		<div class="mylogo" >
			<%=image_tag 'mylogo.png',style:'width:150px;height:120px;z-index:1;float:left;' %>
			
		<!--/div-->
		<!--div class="span6"-->
		<!--div class="col-sm-6 col-md-6 col-lg-6 "-->

			<p style="font-family:JustOldFashion;font-size:55px;;valign:middle;margin-left:-15px;">Plan Your <span style="color:#0893cf;">Task</span></p>


		</div>
	</div>
	<div class="myrow1">
		<!--div class="span8 offset2"-->
		<!--div class="col-lg-8 col-md-offset-2 col-md-8"-->
		<div class="mymotto">
			<p style="color:#1e1e1e;font-size:45px;font-family:JustOldFashion;">Organize your task together</p>
			
			</div>
	</div>

	<div class="myrow" style="margin:0 120px;">
		<!--div class="span7 offset4"-->
		<div style="width:300px;margin:0 auto;">
		<%=link_to 'SIGN UP,ITS FREE',:signup,class:'mysignup btn btn-lg btn-info btn-block' %>
		</div>
	</div>
	</div>

	<div id="da-slider" class="da-slider">
				<div class="da-slide">
					<h2>Warm welcome</h2>
					<p>When she reached the first hills of the Italic Mountains, she had a last view back on the skyline of her hometown Bookmarksgrove, the headline of Alphabet Village and the subline of her own road, the Line Lane.</p>
					<a href="#" class="da-link">Read more</a>
					<div class="da-img"><%=image_tag 'demo1.png'%></div>
				</div>
				<div class="da-slide">
					<h2>Easy management</h2>
					<p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. Separated they live in Bookmarksgrove right at the coast of the Semantics, a large language ocean.</p>
					<a href="#" class="da-link">Read more</a>
					<div class="da-img"><%=image_tag '2.png' %></div>
				</div>
				<div class="da-slide">
					<h2>Revolution</h2>
					<p>A small river named Duden flows by their place and supplies it with the necessary regelialia. It is a paradisematic country, in which roasted parts of sentences fly into your mouth.</p>
					<a href="#" class="da-link">Read more</a>
					<div class="da-img"><%=image_tag '3.png'%></div>
				</div>
				<div class="da-slide">
					<h2>Quality Control</h2>
					<p>Even the all-powerful Pointing has no control about the blind texts it is an almost unorthographic life One day however a small line of blind text by the name of Lorem Ipsum decided to leave for the far World of Grammar.</p>
					<a href="#" class="da-link">Read more</a>
					<div class="da-img"><%=image_tag '4.png' %></div>
				</div>
				<nav class="da-arrows">
					<span class="da-arrows-prev"></span>
					<span class="da-arrows-next"></span>
				</nav>
			</div>
        </div>
       
		
		


		
		
		
