<div class="mymodal modal fade" id="myModal_<%=subtask.id %>" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
				<h4 class="modal-title" id="myModalLabel_<%=subtask.id %>"><%=subtask.name%> in <%=subtask.task.taskname %></h4>	
			</div>
			<div class="modal-body">
				<div class="row">
				<div class="mydes col-md-7 col-xs-7 col-sm-12" id="mydes_<%=subtask.id%>">
					<%=render 'subtasks/descform',:subtask=>subtask %>
				</div>
				<div class="col-md-5 col-xs-5 members">
					<a class="col-md-12 col-xs-12 btn btn-primary">AssignedTo
					</a>
				</div>
				<div class="UsersAssigned col-md-5">
					<ul class="users" id="user_<%=subtask.id%>">
					<%if !subtask.users.empty?%>
						<%subtask.users.each do |user|%>
							<li class="userlist col-md-5 col-sm-5 col-xs-5"><%=user.username%><a class="removeuser"><i class="fa fa-times fa-lg" style="margin:0px auto;"></i></a></li>
						<%end%>
					<%end%>
				</ul>
				</div>
				<div class="col-md-5 col-xs-5 members">
					<a class="col-md-12 col-xs-12 btn btn-warning" data-id='<%=subtask.id %>' style="border-bottom-left-radius:0px;border-bottom-right-radius:0px;">AssignMembers
					</a>
				</div>
				<div class="col-md-5 example example-numbers" id="type_<%=subtask.id %>">
					<div class="userdropdown" style="background:#bbb;border-bottom-left-radius:5px;border-bottom-right-radius:5px;margin:auto;padding:2px;">
					<p class="example-description">Enter the name of the member whom you want to assign this card</p>
					<input class="form-control typeahead" id="typeahead_<%=subtask.id%>" type="text" placeholder="UserName">
					<a data-id='<%=subtask.id %>' href="#" class="closemembers"><i class="fa fa-times fa-lg" style="margin:10px auto;"></i></a>
					</div>
				</div>
				<div class="col-md-5 col-xs-5" style="float:right;">
					
					<%=form_for subtask,:method => :put,:remote => :true do |f| %>
					<%=f.hidden_field :name%>
					<%=f.hidden_field :description%>
					<%=f.hidden_field :start_date%>
					<%=f.hidden_field :end_date%>
					<%=f.hidden_field :task_id%>
					<%=f.hidden_field :complete%>
					
					<%=f.submit 'Mark As Complete',class:'btn btn-primary comp',style:'margin-top:20px;'%>
					<%end%>
				
				</div>
				
				
			</div>
				
				<script type="text/javascript">
				$('.members > a').click(function(){
					$('#type_'+$(this).data('id')).slideDown();
				});

				$('.userdropdown > a').click(function(e){
					$('#type_' + $(this).data('id')).slideUp();
				});
				usernames = new Bloodhound({
					datumTokenizer: function(d) { return Bloodhound.tokenizers.whitespace(d); },
					queryTokenizer: Bloodhound.tokenizers.whitespace,
					remote: {
						url: '/subtasks/query?q=%QUERY'
					}
				});
				usernames.initialize();

				$('#typeahead_<%=subtask.id%>').typeahead(null, {
					displayKey: 'username',
					source: usernames.ttAdapter(),
				}).on('typeahead:selected', function(event, datum) {
					$('#user_<%=subtask.id%>').append('<li class="userlist col-md-5 col-sm-5 col-xs-5">'+datum.username+'<a class="removeuser"><i class="fa fa-times fa-lg" style="margin:0px auto;"></i></a></li>');
					$.ajax({
						type: "POST",
						url: "/subtasks/createuser",
						data: { user: { user_id: datum.user_id, subtask_id:<%=subtask.id%>  } },
					});
				});


			
				
				</script>

			</div>

			<div class="modal-footer">
				
				<%=render 'subtasks/footer',:subtask=>subtask %>
				<!--button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
				<button type="button" class="btn btn-primary">Save changes</button-->
			</div>
		</div><!-- /.modal-content -->
	</div><!-- /.modal-dialog -->

</div><!-- /.modal -->
