<div class="mymodal modal fade" id="myModal_<%=subtask.id %>" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
				<h4 class="modal-title" id="myModalLabel_<%=subtask.id %>"><%=subtask.name%> in <%=subtask.task.taskname %></h4>

			</div>
			<div class="modal-body">
				<div class="mydes col-md-7" id="mydes_<%=subtask.id%>">
					<%=render 'subtasks/descform',:subtask=>subtask %>
				</div>
				<div class="col-md-5 members" style="float:right;">
					<a class="col-md-12 btn btn-warning" data-id='<%=subtask.id %>'>AddMembers
					</a>
				</div>
				<div class="col-md-5 example example-numbers" style="float:right;" id="type_<%=subtask.id %>">
					<p class="example-description">Enter the name of the member whom you want assign this card</p>
					<ul class="users" id="user_<%=subtask.id%>">
						<%if !subtask.users.empty?%>
						<%subtask.users.each do |user|%>
						<li class="userlist col-md-6"><%=user.username%><a class="removeuser"><i class="fa fa-times fa-lg" style="margin:0px auto;"></i></a></li>
						<%end%>
						<%end%>
					</ul>
					<input class="col-md-12 form-control typeahead" id="typeahead_<%=subtask.id%>" type="text" placeholder="UserName">
					<a data-id='<%=subtask.id %>' href="#" class="myclose"><i class="fa fa-times fa-lg" style="margin:10px auto;"></i></a>
				</div>
				<div class="col-md-5" style="float:right;">
					<input class="form-control" id="datepicker_<%=subtask.id%>" type="text" placeholder="StartDate">
				</div>
				<script type="text/javascript">
				$('.members > a').click(function(){
					$('#type_'+$(this).data('id')).show();
				});

				$('.example > a').click(function(e){
					$('#type_' + $(this).data('id')).hide();
				});
				usernames = new Bloodhound({
					datumTokenizer: function(d) { return Bloodhound.tokenizers.whitespace(d); },
					queryTokenizer: Bloodhound.tokenizers.whitespace,
					remote: {
						url: '/subtasks/query?q=%QUERY'
					}
				});
				usernames.initialize();

				$('#typeahead_<%=subtask.id%>').typeahead(null, {
					displayKey: 'username',
					source: usernames.ttAdapter(),
				}).on('typeahead:selected', function(event, datum) {
					$('#user_<%=subtask.id%>').append('<li class="userlist col-md-6">'+datum.username+'<a class="removeuser"><i class="fa fa-times fa-lg" style="margin:0px auto;"></i></a></li>');
					$.ajax({
						type: "POST",
						url: "/subtasks/createuser",
						data: { user: { user_id: datum.user_id, subtask_id:<%=subtask.id%>  } },
					});
				});
			
				$(function(){
					$('#datepicker_<%=subtask.id%>').datepicker({
					onSelect:function(){
						updateTable();
					}
				});
				});

				function updateTable()
				{
					$.ajax({
						type: "POST",
						url: "/subtasks/updateDate",
						data: { subtasks: { id:<%=subtask.id%>,start_date:$('#datepicker_<%=subtask.id%>').val() }},
					});
				}
				</script>



			</div>




			<div class="modal-footer">
				<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
				<button type="button" class="btn btn-primary">Save changes</button>
			</div>
		</div><!-- /.modal-content -->
	</div><!-- /.modal-dialog -->

</div><!-- /.modal -->
