<!DOCTYPE html>
<html>
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title><%=yield(:title) %></title>
  <link rel="icon" href="/pic2.ico" type="image/x-icon"/>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  
  <%= stylesheet_link_tag    "jquery.custom-scrollbar", :media => "all" %>
  <%= javascript_include_tag "application" %>

  
  <!--here are the js files-->
  
  <script src="http://code.jquery.com/ui/1.10.3/jquery-ui.js"></script>
  <link href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet">
  <link href='http://fonts.googleapis.com/css?family=Open+Sans:400italic,600italic,400,600,700' rel='stylesheet' type='text/css'> 
  <%= csrf_meta_tags %>
  <script>
  $(document).ready(function() {
    $(".user").customScrollbar({
      updateOnWindowResize: true
    });

    $( ".myultask" ).sortable();
    $( ".myultask" ).disableSelection();
    $( ".addtaskmovable" ).sortable();
    $( ".addtaskmovable" ).disableSelection();

    $('.dropdown > a').click(function(e){
      $('.dropdown-toggle').dropdown();
      e.preventDefault();
    });


    $("#subtask").click(function(){
     $('#myModal').modal();
   });
    $('.nav li').click(function(event){
        //remove all pre-existing active classes
        $('.active').removeClass('active');

        //add the active class to the link we clicked
        $(this).addClass('active');

      });





    $('.addproject > a').click(function(e){
      $('.addprojectform').show(1000);

      e.preventDefault();
    });
    $('#close').click(function(e){
      $('.addprojectform').hide(1000);
      e.preventDefault();
    });

    $('#da-slider').cslider({
      autoplay  : true,
      bgincrement : 450
    });

    $('#datepicker').datepicker({
      onSelect:function(){
        updateTable();
      }
    });

    function updateTable()
    {
      $.ajax({
        type: "PUT",
        url: "/subtasks/update",
        data: { subtask: { start_date:$('#datepicker').value  } },
        });
    }



  });
</script>
  <!--script type="text/javascript">
      $(function() {
      
        $('#da-slider').cslider({
          autoplay  : true,
          bgincrement : 450
        });
      
      });
    </script--> 
    <script type="text/javascript">
    $(function () {
      $('.button-checkbox').each(function () {

        // Settings
        var $widget = $(this),
        $button = $widget.find('button'),
        $checkbox = $widget.find('input:checkbox'),
        color = $button.data('color'),
        settings = {
          on: {
            icon: 'glyphicon glyphicon-check'
          },
          off: {
            icon: 'glyphicon glyphicon-unchecked'
          }
        };

        // Event Handlers
        $button.on('click', function () {
          $checkbox.prop('checked', !$checkbox.is(':checked'));
          $checkbox.triggerHandler('change');
          updateDisplay();
        });
        $checkbox.on('change', function () {
          updateDisplay();
        });

        // Actions
        function updateDisplay() {
          var isChecked = $checkbox.is(':checked');

            // Set the button's state
            $button.data('state', (isChecked) ? "on" : "off");

            // Set the button's icon
            $button.find('.state-icon')
            .removeClass()
            .addClass('state-icon ' + settings[$button.data('state')].icon);

            // Update the button's color
            if (isChecked) {
              $button
              .removeClass('btn-default')
              .addClass('btn-' + color + ' active');
            }
            else {
              $button
              .removeClass('btn-' + color + ' active')
              .addClass('btn-default');
            }
          }

        // Initialization
        function init() {

          updateDisplay();

            // Inject the icon if applicable
            if ($button.find('.state-icon').length == 0) {
              $button.prepend('<i class="state-icon ' + settings[$button.data('state')].icon + '"></i> ');
            }
          }
          init();
        });
});
</script>





      <!--script>
  $(function() {
    $( ".myultask" ).sortable();
    $( ".myultask" ).disableSelection();
    $( ".addtaskmovable" ).sortable();
    $( ".addtaskmovable" ).disableSelection();
   
  });
</script-->

</head>
<body>
  <%=render 'layouts/header' %>


  <%= yield %>

</body>
</html>
